<style type="text/css">
.error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
</style>
<div class="modal-header">
    <h3 class="modal-title">Add Product</h3>
</div>
 <form   method="post" enctype="multipart/form-data" id="form-user" class="form-horizontal form-validation" name="myform" >
<div class="modal-body" novalidate>
        
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-category">Product name (vn)</label>
            <div class="col-sm-10">
                <input type="text"  ng-pattern="/^.{2,20}$/" placeholder="product" class="form-control" data-ng-model="product.name_vn" required>
                <div class="help-block">Product must be 3-20 characters.</div>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-category">Product name (en)</label>
            <div class="col-sm-10">
                <input type="text" ng-pattern="/^.{2,20}$/" placeholder="product" class="form-control" data-ng-model="product.name_en" required>
                <div class="help-block">Product must be 3-20 characters.</div>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-user-group">Category</label>
            <div class="col-sm-10">
                <!--<select  class="form-control" ng-model="category.parent_id" required>
                    <option value="">Please choose</option>
                    <option ng-repeat="item in categoryList" value="{{item.id}}">{{item.name_vn}}</option>
                </select>-->
                <select  class="form-control" ng-model="product.parent_selected" ng-options="option as option.path_parent_name_vn for option in categoryList track by option.id">
                </select>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-category">Price</label>
            <div class="col-sm-10">
                <input type="text" placeholder="0" class="form-control" ng-pattern="/^[0-9.,]+$/" data-ng-model="product.price" >
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-image">Image</label>
            <div class="col-sm-10">
                <button class="drop-box ng-pristine ng-untouched ng-valid ng-empty"  type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*"  ngf-max-size="1MB" >
                   <img ngf-src="!f.$error && f" style="width:100%" >
                   <img ng-src="{{product.image_path}}" class="img-responsive" ng-if="!f">
                </button>
            </div>
        </div>    
        <div class="form-group ng-hide" ng-controller="MyCtrl" >
            <label class="col-sm-2 control-label" for="input-image">Image</label>
            <!-- popover-placement="right" uib-popover-template="dynamicPopover.templateUrl" -->
            <!--<div class="col-sm-10">
                <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail" title="{{popover.title}}" data-placement="right" data-animation="am-flip-x" data-auto-close="1" data-content="{{popover.content}}" data-template-url="{{popover.templateUrl}}" bs-popover><img src="http://dm-opencart.localhost/image/cache/no_image-100x100.png" alt="" title="" data-placeholder="http://dm-opencart.localhost/image/cache/no_image-100x100.png"></a>
                <input type="hidden" name="image" value="" id="input-image" ng-model="product.image">
            </div> -->
            <div class="col-sm-10">
                <div class="alert alert-danger" ng-show="errorMsg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Danger!</strong> Have Problem or file too large max: {{chunkSize / 1000000|number:1}}M.
                </div>
                <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                     ng-model-options="modelOptionsObj"
                     ngf-multiple="multiple" ngf-pattern="pattern" ngf-accept="acceptSelect"
                     ng-disabled="disabled" ngf-capture="capture"
                     ngf-drag-over-class="dragOverClassObj"
                     ngf-validate="validateObj"
                     ngf-resize="resizeObj"
                     ngf-resize-if="resizeIfFn($file, $width, $height)"
                     ngf-dimensions="dimensionsFn($file, $width, $height)"
                     ngf-duration="durationFn($file, $duration)"
                     ngf-keep="keepDistinct ? 'distinct' : keep"
                     ngf-fix-orientation="orientation"
                     ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File
                  <span ng-show="dropAvailable"> or Drop File</span>
                  <img ngf-src="!files[0].$error && files[0]" style="width:100%">
                </div>
            </div>
            
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-firstname">Description (vn)</label>
            <div class="col-sm-10">
                <textarea data-ng-model="product.description_vn" rows="5" placeholder="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="input-firstname">Description (en)</label>
            <div class="col-sm-10">
                <textarea data-ng-model="product.description_en" rows="5" placeholder="Description" class="form-control"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Status (*)</label>
            <div class="col-sm-10">
                <select name="status" id="input-status" class="form-control" ng-model="product.status"  required>
                    <option value="">None</option>
                    <option value="0" >Disabled</option>
                    <option value="1">Enabled</option>
                </select>
            </div>
        </div>
    
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="ok(myform.$invalid)" >OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
</form>